.common__section{
    background-image: url("/tour-images/tour.jpg");
    object-fit: cover;
    background-color: linear-gradient(rgb(0,0,0,0.45),rgb(0,0,0,0.45));
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.common__section h1{
    font-size: 2.5rem;
    color: #fff;
}

